@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 100;
  src: url("~/assets/fonts/IRANSansXFaNum-Thin.woff") format("woff"), url("~/assets/fonts/IRANSansXFaNum-Thin.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 200;
  src: url("~/assets/fonts/IRANSansXFaNum-UltraLight.woff") format("woff"), url("~/assets/fonts/IRANSansXFaNum-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 300;
  src: url("~/assets/fonts/IRANSansXFaNum-Light.woff") format("woff"), url("~/assets/fonts/IRANSansXFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 500;
  src: url("~/assets/fonts/IRANSansXFaNum-Medium.woff") format("woff"), url("~/assets/fonts/IRANSansXFaNum-Medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 600;
  src: url("~/assets/fonts/IRANSansXFaNum-DemiBold.woff") format("woff"), url("~/assets/fonts/IRANSansXFaNum-DemiBold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 800;
  src: url("~/assets/fonts/IRANSansXFaNum-ExtraBold.woff") format("woff"), url("~/assets/fonts/IRANSansXFaNum-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 900;
  src: url("~/assets/fonts/IRANSansXFaNum-Black.woff") format("woff"), url("~/assets/fonts/IRANSansXFaNum-Black.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/IRANSansXFaNum-Bold.woff") format("woff"), url("~/assets/fonts/IRANSansXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/IRANSansXFaNum-Regular.woff") format("woff"), url("~/assets/fonts/IRANSansXFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: PELAKFaNum;
  font-style: normal;
  font-weight: 100;
  src: url("~/assets/fonts/PelakFA-Thin.woff") format("woff"), url("~/assets/fonts/PelakFA-Thin.woff2") format("woff2");
}

@font-face {
  font-family: PELAKFaNum;
  font-style: normal;
  font-weight: 300;
  src: url("~/assets/fonts/PelakFA-light.woff") format("woff"), url("~/assets/fonts/PelakFA-light.woff2") format("woff2");
}

@font-face {
  font-family: PELAKFaNum;
  font-style: normal;
  font-weight: 500;
  src: url("~/assets/fonts/PelakFA-Medium.woff") format("woff"), url("~/assets/fonts/PelakFA-Medium.woff2") format("woff2");
}

@font-face {
  font-family: PELAKFaNum;
  font-style: normal;
  font-weight: 600;
  src: url("~/assets/fonts/PelakFA-SemiBold.woff") format("woff"), url("~/assets/fonts/PelakFA-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: PELAKFaNum;
  font-style: normal;
  font-weight: 700;
  src: url("~/assets/fonts/PelakFA-Bold.woff") format("woff"), url("~/assets/fonts/PelakFA-Bold.woff2") format("woff2");
}

@font-face {
  font-family: PELAKFaNum;
  font-style: normal;
  font-weight: 900;
  src: url("~/assets/fonts/PelakFA-Black.woff") format("woff"), url("~/assets/fonts/PelakFA-Black.woff2") format("woff2");
}

@font-face {
  font-family: PELAKFaNum;
  font-style: normal;
  font-weight: bold;
  src: url("~/fonts/PelakFA-ExtraBold.woff") format("woff"), url("~/assets/fonts/PelakFA-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: PELAKFaNum;
  font-style: normal;
  font-weight: normal;
  src: url("~/fonts/PelakFA-Regular.woff") format("woff"), url("~/assets/fonts/PelakFA-Regular.woff2") format("woff2");
}

body {
  font-family: IRANSansXFaNum;
  font-weight: 300;
}